<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lizzie Sky</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/site_media/css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/site_media/js/jquery-1.2.2.js"></script>
    <meta name="author" content="shengyan" />
    
    <script type="text/javascript" src="/site_media/js/myjs.js"></script>

</head>

<body>
<div id="other">
	<div id="container">
		<div id="header">
			<h1 class="blogName"><a href="/blog" title="/blog">Lever pry the Earth </a></h1>
			<div class="description" id="textanim">
                <span style="font-size: 1em;">H</span>
                <span style="font-size: 1em;">a</span>
                <span style="font-size: 1em;">p</span>
                <span style="font-size: 1em;">p</span>
                <span style="font-size: 1em;">y</span>
                <span style="font-size: 1em;"></span>
                <span style="font-size: 1em;"></span>
                <span style="font-size: 1em;">S</span>
                <span style="font-size: 1em;">m</span>
                <span style="font-size: 1em;">i</span>
                <span style="font-size: 1em;">l</span>
                <span style="font-size: 1em;">i</span>
                <span style="font-size: 1em;">n</span>
                <span style="font-size: 1em;">g</span>
                <span style="font-size: 1em;">!</span>
            </div>
			<div class="clear"></div>
		</div>
		<div id="innerContainer">
            index
        </div>
	</div>
</div>
</body>
</html>
