body {
    background:#3d4042 none repeat scroll 0%;
    color:#60baf9;
    font-family:Arial,Helvetica,Georgia,sans-serif;
    font-size:12px;
    text-align:center;
    vertical-align:top;
}
#container {
    margin:0px;
    padding:5px;
    text-align:left;
    vertical-align:top;
    width:988px;
}
#header {
    border:1px solid #60baf9;
    background:transparent url("/site_media/img/bg_header.gif") repeat scroll 0%;
}
#header h1 {
    color:#60baf9;
    font-size:36px;
    margin:0px;
    padding:25px 30px;
}
#middle {
    //width:988px;
    margin:5px;
}
#left {
    display:inline;
    float:left;
    margin:0px;
    width:160px;
    border:1px solid #60baf9;
}
#centerright {
    display:inline;
    float:right;
    border:1px solid #60baf9;
    margin:0px;
    width:810px;
}
#center {
    display:inline;
    float:left;
    border:1px solid #60baf9;
    margin:5px;
    width:460px;
}
#right12 {
    display:inline;
    float:right;
    border:1px solid #60baf9;
    margin:5px;
    width:326px;
}
#footer {
    //color:#FFFFFF;
    background:transparent url("/site_media/img/bg_header.gif") repeat scroll 0%;
    float:left;
    width:988px;
    border:1px solid #60baf9;
}