{% extends "earth/sidebar.html" %}
{% block title %}
名字
{% endblock %}

{% block page-content %}
        <div id="content" class="yui-u first">
            <div id="postNav">
                <a id="postPrev" href="#prev">上一篇: 文章的标题</a>
                <a id="postNext" href="#prev">下一篇: 文章的标题</a>
            </div>
            <div id="inner">
            <div class="post">
                <div class="top">
                    <div class="top-img">
                        <img class="avatar" src="./images/avatar.jpeg" alt="username" title="Post by someone" />
                    </div>
                    <div class="titmeta">
                        <h2 class="title"><a href="#">APost Title</a></h2>
                        <p class="meta"><span class="date">2009-11-21 12:00:00</span><a href="#">附加信息</a></p>
                    </div>
                </div>
                <div class="entry">
                    <p>This is <strong>EarthlingTwo</strong>, a free template by <a href="http://www.nodethirtythree.com">nodethirtythree</a> and <a href="http://www.freecsstemplates.org">Free CSS Templates</a>.  It’s kind of a sequel to an older template I did for FCT a long time ago named <a href="http://www.freecsstemplates.org/preview/earthling">Earthling</a>.</p>
                    <p>This template is released under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution</a> license, so use it however you like, just keep the links back to our sites. The scenic photo above is a public domain work from <a href="http://www.pdphoto.org">PDPhoto.org</a>. Be sure to check out my other work at <a href="http://www.nodethirtythree.com/">my site</a> or follow me on <a href="http://twitter.com/nodethirtythree/">Twitter</a> for news and updates. Have fun.</p>
                </div>
                <div class="links"><span title="点击查看/添加评论" class="comments shcomments">评论(33)</span><span title="复制链接到剪切板" class="permlink">链接</span><a title="发表博文" href="#" class="new">新建</a><a title="编辑文章" href="#" class="edit">编辑</a><a title="删除文章" href="#" class="delete">删除</a>
                </div>
                <div class="extra">
                    <div class="extra-item">
                        <div class="extra-body">
                            <span class="round-lt"></span>
                            <span class="round-rt"></span>
                            <span class="round-lb"></span>
                            <span class="round-rb"></span>
                            <div class="extra-meta">
                                <a class="extra-link" title="someone" href="#"><img class="avatar" src="./images/avatar.jpeg" alt="username" title="Comment by someone" /></a>
                                <div class="extra-author">
                                    <a title="someone'link" href="#">someone</a>
                                    <abbr class="extra-time" title="星期一, 12月 21st, 2009, 9:15 pm"> 2009年12月21日 at 21:15 </abbr>
                                </div>
                            </div>
                            <div class="extra-content">
                                <p>评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容</p>
                            </div>
                        </div>
                        <div class="extra-item">
                            <div class="extra-body">
                                <span class="round-lt"></span>
                                <span class="round-rt"></span>
                                <span class="round-lb"></span>
                                <span class="round-rb"></span>
                                <div class="extra-meta">
                                    <a class="extra-link" title="someone" href="#"><img class="avatar" src="./images/avatar.jpeg" alt="username" title="Comment by someone" /></a>
                                    <div class="extra-author">
                                        <a title="someone'link" href="#">someone</a>
                                        <abbr class="extra-time" title="星期一, 12月 21st, 2009, 9:15 pm"> 2009年12月21日 at 21:15 </abbr>
                                    </div>
                                </div>
                                <div class="extra-content">
                                    <p>评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容</p>
                                </div>
                            </div>
                            <div class="extra-item">
                                <div class="extra-body">
                                    <span class="round-lt"></span>
                                    <span class="round-rt"></span>
                                    <span class="round-lb"></span>
                                    <span class="round-rb"></span>
                                    <div class="extra-meta">
                                        <a class="extra-link" title="someone" href="#"><img class="avatar" src="./images/avatar.jpeg" alt="username" title="Comment by someone" /></a>
                                        <div class="extra-author">
                                            <a title="someone'link" href="#">someone</a>
                                            <abbr class="extra-time" title="星期一, 12月 21st, 2009, 9:15 pm"> 2009年12月21日 at 21:15 </abbr>
                                        </div>
                                    </div>
                                    <div class="extra-content">
                                        <p>评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="extra-item">
                        <div class="extra-body">
                            <span class="round-lt"></span>
                            <span class="round-rt"></span>
                            <span class="round-lb"></span>
                            <span class="round-rb"></span>
                            <div class="extra-meta">
                                <a class="extra-link" title="someone" href="#"><img class="avatar" src="./images/avatar.jpeg" alt="username" title="Comment by someone" /></a>
                                <div class="extra-author">
                                    <a title="someone'link" href="#">someone</a>
                                    <abbr class="extra-time" title="星期一, 12月 21st, 2009, 9:15 pm"> 2009年12月21日 at 21:15 </abbr>
                                </div>
                            </div>
                            <div class="extra-content">
                                <p>评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="comms">
                    <li class="comms-item">
                        <div class="comms-logo">
                            <a class="extra-link" title="someone" href="#"><img class="avatar" src="./images/avatar.jpeg" alt="username" title="Comment by someone" /></a>
                        </div>
                        <div class="comms-body">
                            <span class="round-lt"></span>
                            <span class="round-rt"></span>
                            <span class="round-lb"></span>
                            <span class="round-rb"></span>
                            <div class="comms-meta">
                                <a title="someone'link" href="#">someone</a>
                                <abbr class="extra-time" title="星期一, 12月 21st, 2009, 9:15 pm"> 2009年12月21日 at 21:15 </abbr>
                            </div>
                            <div class="comms-content">
                                <p>评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容</p>
                            </div>
                        </div>
                        <ol class="comms">
                            <li class="comms-item">
                                <div class="comms-logo">
                                    <a class="extra-link" title="someone" href="#"><img class="avatar" src="./images/avatar.jpeg" alt="username" title="Comment by someone" /></a>
                                </div>
                                <div class="comms-body">
                                    <span class="round-lt"></span>
                                    <span class="round-rt"></span>
                                    <span class="round-lb"></span>
                                    <span class="round-rb"></span>
                                    <div class="comms-meta">
                                        <a title="someone'link" href="#">someone</a>
                                        <abbr class="extra-time" title="星期一, 12月 21st, 2009, 9:15 pm"> 2009年12月21日 at 21:15 </abbr>
                                    </div>
                                    <div class="comms-content">
                                        <p>评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li class="comms-item">
                        <div class="comms-logo">
                            <a class="extra-link" title="someone" href="#"><img class="avatar" src="./images/avatar.jpeg" alt="username" title="Comment by someone" /></a>
                        </div>
                        <div class="comms-body">
                            <span class="round-lt"></span>
                            <span class="round-rt"></span>
                            <span class="round-lb"></span>
                            <span class="round-rb"></span>
                            <div class="comms-meta">
                                <a title="someone'link" href="#">someone</a>
                                <abbr class="extra-time" title="星期一, 12月 21st, 2009, 9:15 pm"> 2009年12月21日 at 21:15 </abbr>
                            </div>
                            <div class="comms-content">
                                <p>评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容评论的内容</p>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            </div><!-- #inner -->
            
            <div class="extra-forms">
                <span class="round-lt"></span>
                <span class="round-rt"></span>
                <span class="round-lb"></span>
                <span class="round-rb"></span>
                <h3>我有话要说</h3>
                <form id="bcmtform" method="post" action="#">
                    <p class="form-author">
                        <input type="text" size="33" value="" id="author" name="author" class="text-input"/>
                        <label for="author">Name <span class="required">(required)</span></label>
                    </p><!-- .form-author -->
                    <p class="form-email">
                        <input type="text" size="33" value="" id="email" name="email" class="text-input"/>
                        <label for="email">Mail  <span class="required">(will not to be published)(required)</span></label>
                    </p><!-- .form-email -->
            
                    <p class="form-url">
                        <input type="text" size="33" value="" id="url" name="url" class="text-input"/>
                        <label for="url">Website</label>
                    </p><!-- .form-url -->
                    <p class="form-textarea">
                        <textarea rows="10" cols="65" id="comment" name="comment"></textarea>
                    </p><!-- .form-textarea -->
                    <p class="form-submit">
                        <input type="submit" value="提交回复" id="submit" name="submit" class="submit-comment button"/>
                        <input type="reset" value="Reset" id="reset" name="reset" class="reset-comment button"/>
                        <input type="hidden" id="comment_post_ID" value="968" name="comment_post_ID"/>
                        <input type="hidden" value="0" id="comment_parent" name="comment_parent"/>
                    </p><!-- .form-submit -->
                </form>
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
{% endblock %}
{% block page-sidebar-down %}
<li id="relposts">
    <h3>相关文章</h3>
    <ul>
        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a>&nbsp;by&nbsp;<a href="#" title="username">nickname</a></li>
        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a>&nbsp;by&nbsp;<a href="#" title="nickname">nickname</a></li>
        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a></li>
        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title  posts title  posts title</a></li>
    </ul>
</li>
<li id="autposts">
    <h3>XX的文章</h3>
    <ul>
        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a>&nbsp;(<a href="#c" title="comments">23</a>)</li>
        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a>&nbsp;(<a href="#c" title="comments">23</a>)</li>
        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a>&nbsp;(<a href="#c" title="comments">23</a>)</li>
        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a>&nbsp;(<a href="#c" title="comments">23</a>)</li>
    </ul>
</li>
{% endblock %}
{% block footer-content %}
        <div id="footer-info">
        <br /><br /><br /><br /><br />
        </div>
{% endblock %}