<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>title -- Lever Pry The Earth</title>
    <link type="image/x-icon" href="images/grey_earth.ico" rel="shortcut icon"/>
    <link href="./build/reset-fonts-grids/reset-fonts-grids.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body class="bindex">
    <div id="header">
        <div id="ibar">
            <a href="#">登录</a><a href="#">注册</a><a href="#">登录</a><a href="#">注册</a>
        </div>
    </div>
    <div id="navigator">
        <ul>
            <li title="About" id="about"><a href="#">About</a></li>
            <li title="Photo" id="photo"><a href="#">Photo</a></li>
            <li title="Lab" id="lab"><a href="#">Lab</a></li>
            <li title="Blog" id="blog"><a href="#" class="current">Blog</a></li>
            <li title="Home" id="home"><a href="#">Home</a></li>
        </ul>
    </div>
    
    <div id="page" class="yui-gc">
        <div id="sliderwrapper" class="yui-u first">
            <div id="slider">
            	<ul>
            		<li><img src="images/ui-clearaccess-interop-portal-test-results.jpg" alt="" /></li>
            		<li><img src="images/02.jpg" alt="" /></li>
            		<li><img src="images/03.jpg" alt="" /></li>
            		<li><img src="images/04.jpg" alt="" /></li>
            		<li><img src="images/05.jpg" alt="" /></li>
            	</ul>
            </div>
        </div>
        <div class="yui-u">
            <div id="slidernote">
                <div id="sliderinner">
                <ul>
                    <li><a href="#1">something somethingsomething something</a></li>
                    <li><a href="#2">something something</a></li>
                    <li><a href="#3">something something</a></li>
                    <li><a href="#4">something somethingsomething something</a></li>
                    <li><a href="#5">something somethingsomething something</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="advertise-bar">advertise</div> -->
    <div id="footer-bar"><div id="key">&nbsp;</div></div>
    <div id="footer-content">
        <div id="footer-info"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <ul id="footer-links">
            <li class="home"><a title="Home" href="#" class="current">Home</a></li>
            <li><a title="Blog" href="main.html">Blog</a></li>
            <li><a title="Lab" href="#">Lab</a></li>
            <li><a title="Photo" href="#">Photo</a></li>
            <li><a title="About" href="#">About</a></li>
        </ul>
        <div id="footer-note"> Copyright 2009~2010. yzu.appspot.com. Design by <a href="http://liz.appspot.com">liz</a>.</div>
    </div>
    <!-- end #footer -->
    <script type="text/javascript" src="./jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="./easySlider1.7.js"></script>
    <script type="text/javascript" src="earth.js"></script>
</body>
</html>
