<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>title -- Lever Pry The Earth</title>
    <link type="image/x-icon" href="images/grey_earth.ico" rel="shortcut icon"/>
    <link href="./build/reset-fonts-grids/reset-fonts-grids.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="./jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="./easySlider1.7.js"></script>
    <script type="text/javascript" src="earth.js"></script>
</head>
<body class="bdetail">
    <div id="header">
        <div id="ibar">
            <a href="#">登录</a><a href="#">注册</a><a href="#">登录</a><a href="#">注册</a>
        </div>
    </div>
    <div id="navigator">
        <ul>
            <li title="About" id="about"><a href="#">About</a></li>
            <li title="Photo" id="photo"><a href="#">Photo</a></li>
            <li title="Lab" id="lab"><a href="#">Lab</a></li>
            <li title="Blog" id="blog"><a href="#" class="current">Blog</a></li>
            <li title="Home" id="home"><a href="#">Home</a></li>
        </ul>
    </div>
    <div id="page" class="yui-gc">
        <div id="content" class="yui-u first">
            <ul>
            <li class="post">
                <span class="round-lt"></span>
                <span class="round-rt"></span>
                <span class="round-lb"></span>
                <span class="round-rb"></span>
                <p class="meta"><a title="查看评论" href="#aaa">33</a></p>
                <h3 class="title"><a href="#">APost Title</a></h3>
                <div class="links">
                    <a href="#">附加信息</a><a title="编辑文章" href="#" class="edit">编辑</a><a title="删除文章" href="#" class="delete">删除</a><span class="date">2009-11-21 12:00:00</span>
                </div>
            </li>
            <li class="post">
                <span class="round-lt"></span>
                <span class="round-rt"></span>
                <span class="round-lb"></span>
                <span class="round-rb"></span>
                <p class="meta"><a title="查看评论" href="#aaa">33</a></p>
                <h3 class="title"><a href="#">APost Title</a></h3>
                <div class="links">
                    <a href="#">附加信息</a><a title="编辑文章" href="#" class="edit">编辑</a><a title="删除文章" href="#" class="delete">删除</a><span class="date">2009-11-21 12:00:00</span>
                </div>
            </li>
            <li class="post">
                <span class="round-lt"></span>
                <span class="round-rt"></span>
                <span class="round-lb"></span>
                <span class="round-rb"></span>
                <p class="meta"><a title="查看评论" href="#aaa">33</a></p>
                <h3 class="title"><a href="#">APost Title</a></h3>
                <div class="links">
                    <a href="#">附加信息</a><a title="编辑文章" href="#" class="edit">编辑</a><a title="删除文章" href="#" class="delete">删除</a><span class="date">2009-11-21 12:00:00</span>
                </div>
            </li>
            
            
            </ul><!-- #inner -->
            <div style="clear: both;">&nbsp;</div>
        </div>
        <!-- end #content -->
        <div id="sidebar" class="yui-u">
            <ul>
                <li>
                    <h3>About Author</h3>
                    <div class="autho-info">
                        <img src="images/FrogPorcelaine.png" />
                        <p>sfsdfsd</p>
                    </div>
                    <div class="sidebar-div" id="contact">
                        <a href="#" title="Blog Feed"><img alt="RSS订阅Blog" src="images/icon/feed.png"/></a>
                        <a href="#" title="Twitter"><img alt="Twitter" src="images/icon/twitter.png"/></a>
                        <a href="#" title="Video"><img alt="Flicker" src="images/icon/flickr.png"/></a>
                        <a href="#" title="Video"><img alt="RSS订阅Comment" src="images/icon/feed.png"/></a>
                        <a href="#" title="Video"><img alt="Picasa" src="images/icon/picasa.png"/></a>
                        <a href="#" title="Video"><img alt="Google" src="images/icon/google.png"/></a>
                    </div>
                </li>
                <li id="tagcloud">
                    <h3>标签</h3>
                    <div class="sidebar-div">
                        <a href="#" title="查看google所有文章">google(20)</a>
                        <a href="#" title="google">google(20)</a>
                        <a href="#" title="google">google(20)</a>
                        <a href="#" title="google">google(20)</a>
                        <a href="#" title="google">google(20)</a>
                    </div>
                </li>
                <li id="relposts">
                    <h3>评论</h3>
                    <ul>
                        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a>&nbsp;(<a href="#" title="comments">12</a>)</li>
                        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a>&nbsp;(<a href="#" title="comments">12</a>)</li>
                        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title</a></li>
                        <li><span class="date">2009.11.21</span>&nbsp;<a title="hot posts title" href="#">hot posts title  posts title  posts title</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- <div id="advertise-bar">advertise</div> -->
    <div id="footer-bar"><div id="key">&nbsp;</div></div>
    <div id="footer-content">
        <div id="footer-info">
        <br /><br /><br /><br /><br />
        </div>
        <ul id="footer-links">
            <li class="home"><a title="Home" href="#">Home</a></li>
            <li><a title="Blog" href="#" class="current">Blog</a></li>
            <li><a title="Lab" href="#">Lab</a></li>
            <li><a title="Photo" href="#">Photo</a></li>
            <li><a title="About" href="#">About</a></li>
        </ul>
        <div id="footer-note"> Copyright 2009. yzu.appspot.com. Design by <a href="http://liz.appspot.com">liz</a>.</div>
    </div>
    <!-- end #footer -->
</body>
</html>
