* {
border:medium none;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:0pt;
}
body {
background:#2D2B2C url("/site_media/img/body.jpg") repeat-x scroll left top;
color:#BBBBBB;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:80%;
line-height:160%;
text-align:center;
}
li {
//line-height:120%;
}
a {
color:#B0DCF0;
text-decoration:none;
}
a:hover {
color:#A0E646;
text-decoration:none;
}
img {
border:medium none;
}
input {
background:transparent none repeat scroll 0%;
border:1px solid #3A3C3F;
color:#BBBBBB;
font-family:Arial,Verdana,Helvetica,sans-serif;
font-size:100%;
padding:1px;
}
textarea {
background:transparent none repeat scroll 0%;
border:1px solid #3A3C3F;
color:#BBBBBB;
font-family:Arial,Verdana,Helvetica,sans-serif;
font-size:100%;
overflow:auto;
padding:2px 3px;
}
.button {
background:#221C1C none repeat scroll 0%;
border:1px solid #3A3C3F;
color:#BBBBBB;
cursor:pointer;
font-size:100%;
height:19px;
padding:0pt 0pt 2px 7px;
text-align:center;
width:48px;
}
.time {
font-size:90%;
}
.clear {
clear:both;
}
#index {
margin:0pt auto;
width:1026px;
}
#detail {
margin:0pt auto;
width:818px;
}
#container {
background:transparent url("/site_media/img/container.jpg") no-repeat scroll center top;
font-size:100%;
margin:0pt auto;
width:1026px;
}
#detail #container {
background:transparent url("/site_media/img/container.jpg") no-repeat scroll center top;
font-size:100%;
margin:0pt auto;
width:818px;
}
#header {
overflow:hidden;
text-align:center;
}
.blogName {
color:#B0DCF0;
font-size:150%;
font-weight:bold;
line-height:100%;
margin:220px 50px 8px;
overflow:hidden;
text-align:center;
}
.blogName a {
color:#BBBBBB;
}
.blogName a:hover {
color:#B0DCF0;
text-decoration:none;
}
.description {
color:#BBBBBB;
font-size:120%;
//line-height:140%;
margin:0pt 40px 0px;
overflow:hidden;
padding-top:5px;
padding-bottom:5px;
height:50px;
text-align:center;
}
#innerContainer {
}
.innerTop {
}
.innerBottom {
}
#outerContent {
float:left;
line-height:165%;
margin-top:5px;
text-align:left;
//width:587px;
}
#content {
}
.contentTop {
}
#posts {
width:587px;
}
.postsTop {
background:transparent url("/site_media/img/postHeader2.jpg") no-repeat scroll left top;
height:68px;
width:587px;
}
.postsBottom {
background:transparent url("/site_media/img/postFooter.jpg") no-repeat scroll left bottom;
height:28px;
width:587px;
}
#posts li {
background:transparent url("/site_media/img/post.jpg") repeat-y scroll left top;
//margin-bottom:30px;
width:587px;
}
#content #posts li .postBody ul, ol {
margin:0pt 0pt 0pt 20px;
padding:0pt;
}
#content #posts li .postBody li {
list-style-position:inside;
margin:0pt;
padding:0pt 2px;
}
#content #posts li .postBody ul li {
list-style-image:none;
list-style-position:outside;
list-style-type:disc;
}
#content #posts li .postBody ol li {
list-style-image:none;
list-style-position:outside;
list-style-type:decimal;
}
.postHeader {
//background:transparent url("/site_media/img/postHeader.jpg") no-repeat scroll left top;
margin-bottom:21px;
text-align:left;
//width:587px;
}
.postHeader h2 {
color:#B0DCF0;
font-size:120%;
font-weight:bold;
line-height:120%;
margin:11px 30px 7px;
overflow:hidden;
text-align:left;
//background-color:#2a2a2a;
padding-left:20px;
}

.postHeader h2 a {
color:#B0DCF0;
text-decoration:none;
}
.postHeader h2 a:hover {
color:#A0E646;
text-decoration:none;

}
.category {
font-size:90%;
font-weight:normal;
}
.postHeader h3 {
color:#B0DCF0;
font-size:140%;
font-weight:bold;
padding:0px 30px 0pt;
text-align:left;
}
.postBody {
background:transparent url("/site_media/img/post.jpg") repeat-y scroll left top;
line-height:170%;
padding:0pt 30px;
width:527px;
}
.postBody a {
}
.postBody a:hover {
}
.postBody p {
margin:0pt auto 15px;
}
.postBody table {
margin:0pt auto;
}
.postBody table a:hover {
border:medium none;
}
.postFooter {
//background:transparent url("/site_media/img/postFooter.jpg") no-repeat scroll left bottom;
color:#777777;
padding:5px 30px 35px;
//width:527px;
}
.postFooter a {
color:#777777;
text-decoration:none;
}
.postFooter a:hover {
color:#BBBBBB;
}
.tags {
}
.tags a {
}
.tags a:hover {
}
.menubar {
}
.pageNavi {
color:#777777;
//margin-left:350px;
text-align:center;
}
.pageNaviXXX a {
color:#777777;
text-decoration:none;
}
.pageNaviXXX a:hover {
color:#BBBBBB;
}
#outerSidebar {
background:transparent url("/site_media/img/outerSidebar.jpg") repeat-y scroll left top;
float:right;
line-height:160%;
margin-bottom:30px;
margin-top:5px;
overflow:hidden;
table-layout:fixed;
text-align:left;
width:218px;
}
#outerSidebar ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-top:8px;
padding:0pt 10px;
}
#outerSidebar a {
color:#908D89;
}
#outerSidebar a:hover {
color:#97C4DF;
text-decoration:none;
}
#outerSidebar .count {
margin-left:5px;
}
#outerSidebar h2 {
background:transparent url("/site_media/img/sh2.png") no-repeat scroll left top !important;
color:#B0DCF0;
display:block;
font-size:110%;
height:25px;
line-height:120%;
margin-bottom:5px;
padding:11px 0pt 0pt 30px;
text-align:left;
width:188px;
}
#sidebar {
background:transparent url("/site_media/img/sidebar.jpg") no-repeat scroll left top;
padding-top:31px;
}
#sidebar a {
color:#BBBBBB;
}
#sidebar a:hover {
color:#fc75bb;
}
.sidebarTop {
}
.sideBottom {
background:transparent url("/site_media/img/sideBtm.jpg") no-repeat scroll left bottom;
height:40px;
}
.module {
margin-bottom:20px;
}
.modTop {
}
.modBottom {
padding:0pt 20px;
}
.modBody {
padding:0pt 20px;
}
#profile .modBody {
}
#profile img {
border:1px solid #3A3C3F;
height:96px;
overflow:hidden;
padding:2px;
width:96px;
}
#profile h3 {
font-size:100%;
margin:5px 0pt;
}
#profile .author {
margin:5px 0pt 0pt;
}
#calendar .modBody {
margin-right:5px;
}
#calendar table {
margin:0pt;
padding:0pt;
width:100%;
}
#calendar a {
border:medium none;
}
#calendar td {
font-size:90%;
line-height:150%;
text-align:center;
text-transform:lowercase;
}
#calendar td a {
background:transparent none repeat scroll 0%;
font-weight:bold;
text-decoration:none;
}
#calendar td a:hover {
border:medium none;
}
#calendar .calendarHead td {
font-size:110%;
font-weight:bold;
padding:5px 0pt;
}
#calendar .week {
font-size:90%;
font-weight:bold;
padding:2px;
text-align:center;
white-space:nowrap;
}
.day {
text-align:center;
white-space:nowrap;
}
#calendar td.today {
background:#444444 none repeat scroll 0%;
color:#B0DCF0;
}
#calendar td.today a {
color:#B0DCF0;
}
#login .modBody {
margin:10px 5px 0pt 0pt;
text-align:right;
}
#login .uid {
margin-bottom:5px;
}
.uid #username, .pwd #password {
margin-left:5px;
}
.uid input, .pwd input {
width:125px;
}
#login .button {
margin-top:5px;
}
#search .modBody {
margin:10px 0pt 0pt;
}
#search .textField {
margin-left:3px;
width:115px;
}
#nComments .modBody {
color:#BBBBBB;
}
#nComments .author {
color:#BBBBBB;
}
#custom {
margin-bottom:20px;
overflow:hidden;
padding:0pt 20px;
}
.statistics {
margin-bottom:20px;
}
.subscribe {
margin-bottom:20px;
}
.poweredBy {
font-size:80%;
}
#footer {
margin:30px 0pt 0pt;
}
.copyright {
color:#908D89;
font-size:90%;
padding:0pt 0pt 30px 38px;
}
.tb_url {
margin:5px 0pt;
}
.tb_url input {
border:1px solid #363636;
color:#555555;
width:280px;
}
#trackbacks {
background:transparent url("/site_media/img/post.jpg") repeat-y scroll left top;
padding:0pt 30px 30px;
}
#trackbacks .desc {
margin:0pt 0pt 15px;
}
#trackbacks h2 {
color:#B0DCF0;
font-size:110%;
margin-bottom:20px;
}
#trackbacks h3 {
font-size:100%;
font-weight:normal;
}
#trackbacks .blogName {
color:#777777;
font-size:100%;
font-weight:normal;
margin:2px 0pt;
padding:0pt;
text-align:left;
}
#trackbacks .blogName span {
font-weight:bold;
}
#trackbacks .time {
font-size:80%;
}
#trackbacks li {
border-bottom:1px solid #3A3C3F;
margin:0pt;
}
#trackbacks .content {
color:#7F7C79;
}
.context {
color:#BBBBBB;
font-size:100%;
margin:0pt 0pt 0pt 25px;
padding-bottom:3px;
text-align:left;
}
.context a {
color:#BBBBBB;
}
.context a:hover {
color:#B0DCF0;
}
#comments {
background:transparent url("/site_media/img/post.jpg") repeat-y scroll left top;
padding:0pt 30px 15px;
}
#comments h2 {
color:#B0DCF0;
font-size:120%;
margin-bottom:10px;
border-bottom:1px solid #3A3C3F;
}
#comments h3 {
color:#B0DCF0;
font-size:110%;
margin-bottom:10px;
}
#comments li {
border-bottom:1px solid #3A3C3F;
color:#BBBBBB;
margin-bottom:15px;
}
#comments .menubar {
margin-top:10px;
}
#comments .menubar a {
}
#comments .menubar a:hover {
}
.reCmtBody {
background:#333333 none repeat scroll 0%;
border:1px solid #444444;
color:#AAAAAA;
margin:5px 0pt;
padding:5px;
}
.cmtBody {
margin:5px 20px;
}
.reply {
}
#commentForm {
background:transparent url("/site_media/img/post.jpg") repeat-y scroll left top;
margin:0pt;
padding:0pt 30px 20px;
}
#commentForm h2 {
color:#B0DCF0;
font-size:120%;
margin-bottom:20px;
}
#commentForm form {
}
#commentForm label {
display:block;
}
#commentForm textarea {
margin:5px 0pt;
width:400px;
}
#detail #content {
}
#detail .contentBottom {
background:transparent url("/site_media/img/postFooter.jpg") no-repeat scroll left bottom;
height:28px;
}
#detail .postFooter {
background:transparent none repeat scroll 0%;
}
#detail #posts li {
margin-bottom:0pt;
}
#detail #outerSidebar {
margin-top:28px;
}

.relpost h2 {
color:#B0DCF0;
font-size:120%;
font-weight:bold;
line-height:120%;
margin:10px 0px;
text-align:left;
border-bottom:1px solid #3A3C3F;
}
.relpost a {
color:#B0DCF0;
text-decoration:none;
}
.relpost a:hover {
color:#A0E646;
}
.randpost {
    margin:5px 0px;
}

.friendli {
    border-bottom:1px solid #3A3C3F;
}

#date {
height:180px;
}

#date a {
    color:#B0DCF0;
}
#date a:hover {
background: #FFF0F6 none repeat scroll 0% 50%;
border-color:#F35AB6;
}
#time .modBody {
    padding:0pt 17px;
}

#aboutme {
    padding-left:140px;
    font-size:90%;
}

#other #outerContent {
line-height:165%;
margin-top:5px;
margin-left:200px;
margin-right:auto;
text-align:center;
}
#contactinform {
text-align:left;
margin:0px 10px;
}

#mywords {
text-align:left;
margin:10px 20px;
}
.showkey {
    color:#e0efa0;
    font-weight:bold;
}