{% extends "blog/base_other.html" %}
{% block main %}
    <div id="myInform">
            <span style="color:#e0efa2;font-size:140%;font-weight:bold;">Welcome</span>
            <span style="font-size:100%">to My English </span>Blog!<br/>
            <span style="font-size:90%">I am </span>
            <span style="color:#f7c3cc;font-size:130%;">Lizzie</span>,
            Love <span style="color:#ccf3e7;font-size:150%;font-weight:bold;">Python</span>
            <span style="font-size:90%">and</span> 
            <span style="color:#d0d6f9;font-size:150%;font-weight:bold;">Linux</span>.
            <span style="font-size:90%">
            Still Student Now and Interested in </span>
            <span style="color:#f7aad0;font-size:110%;">Data Mining</span><br/>
            <div id="mywords">
			other words/或者这边不是直接html。。。。。。。。。。
			</div>
            <div id="contactinform">
			My email: 
			<a href="mailto:shengyan1985@gmail.com">
			<img border="0" title="gmail_img" alt="gmail_img" src="/site_media/img/gmail_sy.png"></img>
			</a><br/>
            My Another Blog: 
			<a href="http://lizziesky.blogspot.com">
			<img border="0" title="an_blog_img" alt="an_blog_img" src="/site_media/img/blog_sy.gif"></img>
			</a><br/><br/>
			</div>
</div>
{% endblock %}
