<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lizzie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='alternate' type='application/rss+xml' title='RSS 2.0' href='http://codeandnote.blogbus.com/index.rdf' />
    <link href="/site_media/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="detail">
	<div id="container">
		<div id="header">
			<h1 class="blogName"><a href="/blog" title="/blog">Lizzie Sky</a></h1>
			<div class="description">Happy Smiling</div>
			<div class="clear"></div>
		</div>
		<div id="innerContainer">
			<div class="innerTop"></div>
			<div id="outerContent">
				<div id="content">
					<div class="contentTop"></div>
                    <ul id="posts">
                        <div class="postsTop"></div>
                        <div class="context">
                            <span class="pre"><a href='/logs/10246132.html'>&lt;&lt;&nbsp;&nbsp;解决声卡问题</a></span>
                             | 
                            <span class="top"><a href="http://codeandnote.blogbus.com">首 页</a></span>
                             | <span class="next"><a href='/logs/10406216.html'>ubuntu 7.04下配置C、C＋＋、GTK开发环境&nbsp;&nbsp;&gt;&gt;</a></span>
                        </div>
                        <!--list-->
                        <li>
                            <div class="postHeader">
                                <h3>2007-10-21</h3>
                                <h2>Ubuntu7.04 修改分辨率<span class='category'> - [<a href='/c1618059/'>Ubuntu</a>]</span></h2>
                            </div>
                            <div class="clear"></div>
                            <div class="postBody">
                                <p class="cc-lisence" style="line-height:180%;">
                                    <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">版权声明</a>：转载时请以超链接形式标明文章原始出处和作者信息及
                                    <a href="http://bangzhuzhongxin.blogbus.com/logs/11205960.html" target="_blank">本声明</a>
                                    <br />
                                    <a href="http://codeandnote.blogbus.com/logs/10394795.html">http://codeandnote.blogbus.com/logs/10394795.html</a>
                                    <br />
                                    <br />
                                </p>
                                <p>&nbsp;今日由7.10重新回到7.04，记下以前没有写的笔记：</p>
                                <p>修改/etc/X11/xorg.conf</p>
                                <p>在控制分辨率的参数前面每一项都后就可以保持1280X800分辨率 </p>
                                <div class="relpost">
                                    <br/>
                                    <h3>随机文章：</h3>
                                    <div>
                                        <a href="http://codeandnote.blogbus.com/logs/10707685.html">Ubuntu 7.10 解决声卡问题</a>
                                         2007-11-08
                                    </div>
                                    <div>
                                        <a href="http://codeandnote.blogbus.com/logs/10469915.html">ubuntu7.04光盘里中文文件名不能正确显示的解决方法</a>
                                         2007-10-25
                                    </div>
                                    <div>
                                        <a href="http://codeandnote.blogbus.com/logs/10246132.html">解决声卡问题</a>
                                         2007-10-11
                                    </div>
                                </div>
                                <div class="addfav">
                                    <br />收藏到：<span class= "delicious"><a href="http://del.icio.us/post?v=4&noui&jump=close&url=http%3A%2F%2Fcodeandnote.blogbus.com%2Flogs%2F10394795.html&title=Ubuntu7.04+%E4%BF%AE%E6%94%B9%E5%88%86%E8%BE%A8%E7%8E%87" target="_blank">Del.icio.us</a></span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="postFooter">
                                <div class="tags">
                                    Tag：
                                    <a href="/tag/分辨率/">分辨率</a>
                                    <a href="/tag/触摸板/">触摸板</a>
                                    <a href="/tag/黑屏/">黑屏</a>
                                    <a href="/tag/SCIM僵死/">SCIM僵死</a>
                                </div>
                                <div class="tb_url">
                                                                                        引用地址：
                                    <input type="text" value="http://www.blogbus.com/public/tb.php/1548647/10394795/28af58df34c471de86cf8da261a8a3fc"/>
                                </div>
                                <div class="menubar">
                                   menubar
                                </div>
                            </div>
                        </li>
                    <!--/list-->
                    </ul>
                    <div id="commentForm">
                        <h2>发表评论</h2><a name="cmt_form"></a>
                        <form method="post" action="" onsubmit="return check_cmt(this);">
                            <div>
                                <label for="cname">姓　名</label>
                                <input class="textField" id="cname" name="name" type="text" />
                            </div>        
                            <div>
                                <label for="cemail">E-Mail</label>
                                <input class="textField" id="cemail" name="email" type="text" />
                                <span style="color:#ccc; margin-left:5px;" class="emailnotice">
                                <span>您将收到博主的回复邮件</span>
                                </span>
                            </div>
                            <div>
                                <label for="chomepage">地　址</label>
                                <input class="textField" id="chomepage" name="homepage" type="text" />
                            </div>
                            <div>
                                <textarea name="content" rows="8"></textarea>
                            </div>
                            <div class="submit">
                                <input type="hidden" name="postId" value="10394795" />
                                <input type="hidden" name="blogId" value="1548647" />
                                <input type="hidden" name="checksum" value="cafd0983579b011eded3d75c3d9e2bc3" />
                                <input class="button" name="addsub" value="提交" type="submit" />
                                <span class="rememberBox">
                                    <input id="cremember" name="remember" Checked="true" type="checkbox" class="cremember" style="margin:0; padding:0; border:0; width:auto;" /> 
                                                                                        记住我
                                </span>
                            </div>
                        </form>
                    </div>
					<div class="contentBottom"></div>                    
				</div>
			</div>
			<div id="outerSidebar">
				<div id="sidebar">
					<div class="sideTop"></div>
                    <div id="search" class="module">
                        <div class="modTop"></div>
                            <h2>搜索</h2>
                            <div class="modBody">
                                <form name="SearchForm" method="get" target="_blank" action="">
                                    <input type="text" name="q" class="textField" />
                                    <input type="submit" class="button" value="搜索" />
                                    <input type="hidden" name="b" value="1548647"/>
                                    <input type="hidden" name="dir" value="oneblog"/>
                                    <div class="clear"></div>
                                </form>
                            </div>
                            <div class="modBottom"></div>
                        </div>
                        <div id="nPosts" class="module">
                            <div class="modTop"></div>
                            <h2>最新日志</h2>
                            <div class="modBody">
                                <ul>
                                    <li><a href='/logs/16749705.html'>计算 k 阶斐波那契数列的第 m 项</a></li>
                                    <li><a href='/logs/15390312.html'>pku 2403</a></li>
                                    <li><a href='/logs/11883564.html'>ubuntu 7.10 English Local 下中文美化</a></li>
                                    <li><a href='/logs/10707685.html'>Ubuntu 7.10 解决声卡问题</a></li>
                                    <li><a href='/logs/10528888.html'>完美解决Ubuntu7.04 Linux关机异响</a></li>
                                    <li><a href='/logs/10469915.html'>ubuntu7.04光盘里中文文件名不能正确显示的解决方法</a></li>
                                </ul>
                            </div>
                            <div class="modBottom"></div>
                        </div>
                        <div id="nComments" class="module">
                            <div class="modTop"></div>
                            <h2>最新评论</h2>
                            <div class="modBody">modBody
                            </div>
                            <div class="modBottom">modBottom</div>
                        </div>
                    </div>
                    <div class="sideBottom"/>
                </div>
                <div class="innerBottom"></div>
                <div class="clear"></div>
            </div>   
		<div id="footer">
			<div class="copyright">
                Copyright &copy; 2002-2008 BlogBus.com, All Rights Reserved. 
                <a href="http://www.blogbus.com" target="_blank">博客大巴</a> 
                                        版权所有
            </div>
        </div>
	</div>
</div>
</body>
</html>
