<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} -- Lever Pry The Earth</title>
    <link type="image/x-icon" href="{{ MEDIA_URL }}global/images/grey_earth.ico" rel="shortcut icon"/>
    {% block css %}
    <link href="{{ MEDIA_URL }}global/css/reset-fonts-grids.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="{{ MEDIA_URL }}global/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}global/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}global/js/easySlider1.7.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}global/js/earth.js"></script>
    {% endblock %}
    {% block extra-head %}{% endblock %}
</head>
<body class="{% block body-class %}bmain{% endblock %}">
    <div id="header">
        <div id="ibar">
            <a href="#">登录</a><a href="#">注册</a><a href="#">登录</a><a href="#">注册</a>
        </div>
    </div>
    <div id="navigator">
        <ul>
            <li title="About" id="about"><a href="#">About</a></li>
            <li title="Photo" id="photo"><a href="#">Photo</a></li>
            <li title="Lab" id="lab"><a href="#">Lab</a></li>
            <li title="Blog" id="blog"><a href="#" class="current">Blog</a></li>
            <li title="Home" id="home"><a href="#">Home</a></li>
        </ul>
    </div>
    <div id="page" class="yui-gc">
        <div id="content" class="yui-u first">
        {% block page-content %}{% endblock %}
        </div>
        <div id="sidebar" class="yui-u">
        {% block page-sidebar %}{% endblock %}
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- <div id="advertise-bar">advertise</div> -->
    <div id="footer-bar">
        {% block footer-bar %}&nbsp;{% endblock %}
    </div>
    <div id="footer-content">
        {% block footer-content %}{% endblock %}
        <ul id="footer-links">
            <li class="home"><a title="Home" href="#">Home</a></li>
            <li><a title="Blog" href="#" class="current">Blog</a></li>
            <li><a title="Lab" href="#">Lab</a></li>
            <li><a title="Photo" href="#">Photo</a></li>
            <li><a title="About" href="#">About</a></li>
        </ul>
        <div id="footer-note"> &copy;2010. <a href="http://yzu.appspot.com/">yzu.appspot.com</a>. Design by <a href="http://liz.appspot.com">liz</a>. Powered by <a href="http://code.google.com/p/app-engine-patch/" target="_blank"><img src="{{ MEDIA_URL }}global/powered-by-app-engine-patch.png" alt="powered by app-engine-patch" /></a> <a href="http://code.google.com/appengine/"  target="_blank"><img src="{{ MEDIA_URL }}global/appengine-noborder-120x30.gif" alt="GAE Powered" /></a> <a href="http://www.python.org/" target="_blank"><img alt="Python Powered" src="{{ MEDIA_URL }}global/python-powered-w-70x28.png"/></a> <a href="http://www.djangoproject.com/"  target="_blank"><img src="{{ MEDIA_URL }}global/djangosite80x15_grey.gif" alt="Django Powered" /></a></div>
    </div>
</body>
</html>