<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Liz's Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <link rel='alternate' type='application/rss+xml' title='RSS 2.0' href='/index.rdf' /> -->
    <link href="/site_media/css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/site_media/js/jquery-1.2.2.js"></script>
    <meta name="author" content="shengyan" />
    
    {% block extrahead %}{% endblock %}

</head>

<body>
<div id="index">
	<div id="container">
		<div id="header">
			<a href="/blog/"><h1 class="blogName">Lizzie Sky</h1></a>
           <div class="description" id="textanim">
            {% if search_keywords %}
                <p style="font-size: 140%;">Search "<span class="showkey">{{ search_keywords }}</span>" Result</p>
            {% else %}
                <span style="font-size: 1em;">H</span>
                <span style="font-size: 1em;">a</span>
                <span style="font-size: 1em;">p</span>
                <span style="font-size: 1em;">p</span>
                <span style="font-size: 1em;">y</span>
                <span style="font-size: 1em;"></span>
                <span style="font-size: 1em;"></span>
                <span style="font-size: 1em;">S</span>
                <span style="font-size: 1em;">m</span>
                <span style="font-size: 1em;">i</span>
                <span style="font-size: 1em;">l</span>
                <span style="font-size: 1em;">i</span>
                <span style="font-size: 1em;">n</span>
                <span style="font-size: 1em;">g</span>
                <span style="font-size: 1em;">!</span>
            {% endif %}
            </div>
			<div class="clear"></div>
		</div>
		<div id="innerContainer">
			<div class="innerTop"></div>
			<div id="outerContent">
                {% block main %} {% endblock %}
			</div>
            <div id="allSidebar"
			<div id="outerSidebar">
                {% block sidebar %} {% endblock %}
            </div>
            <div id="outerSidebar">
                {% block centsidebar %} {% endblock %}
            </div>            
            </div>
            <div class="innerBottom"></div>
            <div class="clear"></div>            
        </div>
		<div id="footer">
			<div class="copyright">
            <p>Copyright&#169;2008 <a href="mailto:shengyan1985@gmail.com">shengyan1985@gmail.com</a> all rights reserved.</p>
            <p>This web application is powered by <a href="http://www.python.org/">python</a> <a href="http://www.djangoproject.com/">django</a>. </p>
            <p>some css copy from <a href="http://www.blogbus.com" target="_blank">Blog Bus</a></p>            
            </div>
        </div>
	</div>
</div>
</body>
</html>
